@model IEnumerable<CourseSystem.Models.Cours>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creation_data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lessons)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category1.Category1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor1.First_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creation_data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lessons)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category1.Category1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor1.First_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
